<template>
<div>
    <h1>poke API</h1>
    <pre>
        {{ JSON.stringify(response) }}
    </pre>
</div>
</template>

<script>
export default {
    head() {
        return {
            title: this.response.abilities[0].ability.name
        }
    },
    async asyncData({ $axios, route }) {
        const response = await $axios.get('https://pokeapi.co/api/v2/pokemon/' + route.params.id)
        return {
            response: response.data
        }
    },
    mounted() {
        console.log(this.$route.params, this.$route.query)
    }
}
</script>

<style>

</style>
