<template>
  <div>
    <h1>poke API</h1>
    <pre>
        {{ JSON.stringify(response) }}
    </pre>
  </div>
</template>

<script>
export default {
    head() {
        return {
            title: this.response.abilities[0].ability.name
        }
    },
    async asyncData({ $axios }) {
        const response = await $axios.get(
            'https://pokeapi.co/api/v2/pokemon/ditto'
        )
        return {
            response: response.data
        }
    }
}
</script>

<style>
</style>
